$mark: rgb(255, 212, 36);
$mark-color: #ee4d2d;

.card {
  background-color: var(--white-color);

  box-shadow: 0px 1px 2px 0px rgba($color: #000000, $alpha: 0.1);
  border-radius: 2px;
  transition: all ease-in 0.25s;

  position: relative;

  &.click {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 1px 20px 0px rgba($color: #000000, $alpha: 0.05);
    transform: matrix(1, 0, 0, 1, 0, -1);
  }

  &__favorite {
    position: absolute;
    top: 10px;
    left: -3px;

    padding: 2px 4px;

    background-color: var(--primary-color);
    color: var(--white-color);

    font-size: 1.2rem;

    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 100%;

      display: block;

      border-width: 2px;
      border-style: solid;
      border-color: transparent transparent #913113 transparent;
      rotate: 45deg;
      transform: translate(-1px, -2px);
    }
  }

  &__discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $mark;
    color: $mark-color;

    font-size: 1.2rem;
    font-weight: 400;

    * {
      z-index: 10;
    }

    .label {
      color: var(--white-color);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      display: block;

      border-width: 8px 18px;

      border-style: solid;
      border-color: red blue transparent green;
      border-color: $mark $mark transparent $mark;

      transform: translateY(-50%);
    }
  }

  &__name {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    color: #000;

    font-size: 1.2rem;

    min-height: 28px;
  }

  &__group {
    display: flex;
    align-items: center;
    column-gap: 5px;

    &.price {
      margin-top: 8px;
      margin-bottom: 15px;
    }
  }

  &__container {
    padding: 8px;
    overflow: hidden;
    width: 100%;
  }

  &__price {
    color: #000;

    text-decoration: line-through;
    font-size: 1.4rem;

    &.sell {
      color: var(--primary-color);
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  &__sold {
    font-size: 1.2rem;
  }

  &__address {
    margin-top: 8px;
    font-size: 1.2rem;
  }

  &__tags {
    display: flex;
    align-items: center;
    column-gap: 2px;
  }

  &__tag {
    display: block;
    padding: 2px 5px;

    font-size: 1rem;

    color: var(--primary-color);

    border: 1px solid var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
  }
}
