.header {
  height: 84px;
  background-color: var(--white-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    svg {
      width: 190px;
      height: 43px;
      margin-top: -10px;
      margin-right: -18px;

      fill: var(--primary-color);
    }
  }

  &__heading {
    font-size: 2.4rem;
    font-weight: 300;
  }

  &__link {
    font-size: 1.4rem;
    width: fit-content;
  }
}
