.group {
  width: 100%;
  max-width: 397px;
  padding: 0 30px 35px;

  background-color: var(--white-color);

  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
  border-radius: 4px;
}
