.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  background-color: transparent;

  font-size: 1.4rem;
  height: 40px;
  width: 100%;
  border-radius: 3px;

  cursor: pointer;
  border: none;
  outline: none;
  white-space: nowrap;

  &.normal.default,
  &.normal.white {
    font-size: 1.3rem;
    font-weight: 300;
    width: fit-content;
    height: fit-content;
  }

  &[onClick] {
    background-color: white;
  }

  &[href] {
    text-decoration: none;
  }

  &:not(.normal) {
    background-color: blue;
  }

  &.white {
    --color: var(--text-color);
  }

  &.default {
    --color: var(--text-primary-color);
  }

  &.primary {
    --color: var(--primary-color);
  }

  &.secondary {
    --color: var(--gray-color);
  }

  &.contained {
    background-color: var(--color);
    color: var(--text-color);
  }

  &.outlined {
    background-color: transparent;
    color: var(--color);
    border: 1px solid var(--color);
  }

  &.normal {
    color: var(--color);
    background-color: transparent;
    border-color: transparent;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  .loading {
    animation: btn-loading-animate ease-in-out infinite 0.5s;
  }
}

@keyframes btn-loading-animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
