.header {
  display: flex;
  align-items: center;

  padding: 22px 0;

  &__heading {
    color: var(--black-color);

    font-size: 2rem;
    font-weight: 300;

    white-space: nowrap;
  }

  &__qr-tooltip {
    position: relative;

    padding: 11px 14px;
    width: 100%;
    max-width: 163px;
    margin-left: auto;

    background-color: #fefaec;
    color: var(--yellow-color);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;

    border: 2px solid var(--yellow-color);
    border-radius: 2px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;

      width: 17px;
      height: 17px;

      background-color: #fefaec;

      transform: rotate(45deg) translate(-70%, -6%);
      border-top: 2px solid var(--yellow-color);
      border-right: 2px solid var(--yellow-color);
    }
  }

  &__qr {
    margin-left: 16px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.sign-in form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.btn {
  width: 100%;
  height: 40px;
}

.helper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & &__btn {
    color: #05a;
  }
}
