.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  & &__btn {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 2px;

    span {
      font-weight: 300;
      text-transform: capitalize;
    }

    .icon {
      width: 22px;
      height: 22px;
      margin-right: 7px;

      color: rgba(0, 0, 0, 0.87);

      background: url(/assets/images/login-social.png) no-repeat;

      &.apple {
        background-size: 406.25% 359.375%;
        background-position: 5.1020408163265305% 6.024096385542169%;
      }

      &.facebook {
        background-size: 325% 287.5%;
        background-position: 5.555555555555555% 62.666666666666664%;
      }

      &.google {
        background-size: 722.2222222222222% 638.8888888888889%;
        background-position: 83.92857142857143% 5.154639175257732%;
      }
    }
  }
}

.separate {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 14px;

  &__line {
    flex: 1;
    background-color: var(--gray-color);
    height: 1px;
  }

  &__text {
    padding: 0 16px;

    color: var(--gray-color);

    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
