.checkbox {
  display: flex;
  align-items: center;
  user-select: none;
  width: fit-content;

  &:not(input[type='checkbox']:disabled) {
    cursor: pointer;
  }

  label {
    margin-left: 10px;

    font-size: 1.4rem;
    cursor: inherit;
  }

  &__icon {
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

    background-color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);

    svg {
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
}
