.search-keyword {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  p {
    padding: 3px 0;

    display: flex;
    font-size: 1.6rem;
    font-weight: 300;
    color: #555;

    span {
      color: var(--primary-color);
    }
  }

  svg {
    width: 16px;
    height: 22px;
    margin-right: 12px;
  }
}
